$strong-font: "alexandria";
$cream: rgb(255, 248, 239);
$grey: rgb(218, 218, 218);
$red: rgb(255, 95, 95);
$red-transparent: rgba(255, 95, 95, 0.5);
$blue: rgb(79, 149, 255);
$blue-transparent: rgb(79, 149, 255, 0.5);
$h1-size: 3rem;
$h2-size: 2rem;
$h3-size: 1.5rem;
$outer-padding: 30px;
