$cream: rgb(255, 248, 239);
$grey: rgb(218, 218, 218);
$red: rgb(255, 95, 95);
$red-transparent: rgba(255, 95, 95, 0.5);
$blue: rgb(79, 149, 255);
$blue-transparent: rgb(79, 149, 255, 0.5);
$strong-font: "alexandria";
$outer-padding: 30px;
